/*switch component*/
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 23px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darkMode1;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked {
    & + .slider {
      background-color: $blueMode2;

      &:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
      }
    }
  }

  &:focus {
    box-shadow: 0 0 1px $blueMode2;
  }
}

button {
  font-family: 'Indie Flower', cursive !important;
  min-width: 98.9931px;
  cursor: pointer;
  &.btn {
  font-size: 18px;
  font-weight: 600;
  }
}


/*Card component*/

.my-card {
  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;

    li {
      background-color: #ffffff;
      border-radius: 5px;
      padding: 20px;
      /*min-width: 180px;*/
      font-size: 26px;
      cursor: pointer;
      border: 2px solid;
    }
  }
}

.darkMode {
  .my-card ul li {
    border-color: $darkMode1;
    color: $darkMode1;

    &:hover, &.active {
      background-color: $darkMode1;
      border: 2px solid #ffffff;
      color: #ffffff;
    }

    &.active {
      background-color: $darkMode1;
      border: 2px solid $darkMode2;
      color: #ffffff;
    }
  }
}

.blueMode {
  .my-card ul li {
    border-color: $blueMode2;
    color: $blueMode2;

    &:hover, &.active {
      background-color: $blueMode2;
      border: 2px solid #ffffff;
      color: $blueMode1;
    }

    &.active {
      background-color: $blueMode2;
      border: 2px solid $darkMode2;
      color: $blueMode1;
    }
  }
}
