body {
  font-family: 'Indie Flower', cursive !important;
  height: 100%;

  .main {
    height: 100vh;

    &.blueMode {
        background-color: #025aa5 !important;
      i {
        color: #f0ad4e;

        &.fa-times {
          color: #025aa5;
        }
      }

      h1 {
        color: #f0ad4e !important;

        &.text-danger {
          display: inline-block;
        }
      }

      .labelIcons i {
        color: #f0ad4e;
      }
    }

    &.darkMode {
        background-color: #1d1e1f !important;

      i {
        color: darkred;
        &.fa-times {
          color:unset;
        }
      }
    }


    li {
      &.list-group-item {
        font-size: 22px;

        i {
          cursor: pointer;
          color: #1d1e1f
        }
      }
    }
  }
}

.labelIcons {
  label {
    margin-left: 10px;
    margin-right: 10px;
  }

  i {
    font-size: 22px;
  }
}