body {
  font-family: 'Indie Flower', cursive !important;
  height: 100%;

  .main {
    height: 100vh;

    h1 {
      &.text-danger {
        display: inline-block;
      }
    }
    &.blueMode {
        background-color: $blueMode1 !important;
      i {
        color: $blueMode2;
        &.fa-check {
         color: $blueMode2;
        }
        &.fa-times {
          color: $blueMode1;
        }
      }

      h1 {
        color: $blueMode2 !important;
      }

      .labelIcons i {
        color: $blueMode2;
      }
    }

    &.darkMode {
        background-color: $darkMode2 !important;

      i {
        color: $darkMode1;
        &.fa-check {
          color: $darkMode1;
        }
        &.fa-times {
          color:unset;
        }
      }
    }


    li {
      &.list-group-item {
        font-size: 22px;

        i {
          cursor: pointer;
          color: $darkMode2;
        }
      }
    }
  }
}

.labelIcons {
  label {
    margin-left: 10px;
    margin-right: 10px;
  }

  i {
    font-size: 22px;
  }
}